.block-container.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.axeBox {
    display: flex;
    width: 30%;
    background-color: #F2F2F2;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 12px;
}
.axeBox .container-info {
    height: 140px;
    margin-left: 10px;
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
}
.axeBox .container-info .content {
    margin: auto;
}
.axeBox .container-info h2 {
    margin-top: 0;
}
.axeBox .container-info .info-completion {
    font-size: 18px;
}
.btn-container {
    display: none;
    width: 900px;
    margin: 0 auto;
}
.btn {
    width: 230px;
}
.chart-container {
    display: none;
    margin-top: 50px;
}




