.containerB{
    margin : 0 auto;
    display: block;
    width: 858px;
}
.info{
    text-align: center;
    height: 500px;
    width: 500px;
    background-color: #ffffff3D;
    padding: 20px;
    color: white;
    font-size: 20px;
    border-radius: 100%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 40px;
    margin-top: -16px;
    border: 2px solid #837e7e;
    float: left;
}

.previous{
    float: left;
    height: 100px;
    width: 100px;
    background-image: url("../src/res/previous.png");
    background-color: #ffffff3D;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: 8px;
    margin-top: 190px;
    border: 2px solid #837e7e;
    margin-right: 50px;
}
.next{
    height: 100px;
    width: 100px;
    float: left;
    background-image: url("../src/res/next.png");
    background-color: #ffffff3D;
    margin-left: 50px;
    margin-top: 190px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: 6px;
    border: 2px solid #837e7e;
}

.next:hover{
    background-color: #ffffff9D;
}
.previous:hover{
    background-color: #ffffff9D;
}
.title{
    margin-top: 150px;
    font-size: 25px;
}

.author{
    margin-top: 25px;
}
.author span{
    color: #E9730F;
}

.link{
    margin-top: 50px;
}

.username{
    margin-top: 50px;
    font-size: 10px;
}

.feedback {
    font-size: small;
    border: 1px solid black;
    padding: .5em;
    margin: 1em auto;
    max-width: 50%;
    text-align: center;
    background-color: #E9730F;
    color: white;
}
