.login-box {
    background-color: #c9c9c9;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 30%;
    padding: 50px;
    color : white;
    border-radius: 3%;
    margin-top: 50px;

}

.login-form {
    padding-top : 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.login-form .input-container {
    margin-bottom: 35px;
    text-align: left;
    position: relative;
}
.login-form .input-field {
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    padding : 20px;
}
.input-container .error-message {
    position: absolute;
    color:red; 
    display:none; 
    margin-top:5px;
}

.btn-login {
    margin-bottom: 20px;
    margin-top: 50px;
}
