body {
    background-color: #fff;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;
}

.header {
    position: fixed;
    background-color: #D7D7D7;
    height: 65px;
    width: 100%;
}
.header .logo {
    margin: 12px 0;
}

.logout {
    margin: 10px;
    background-color: #169BD5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: block;
    border-radius: 5px;
    float: right;
}

.menu {
    margin: 10px;
    background-color: #169BD5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: block;
    border-radius: 5px;
    float: left;
}

.block-container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 90px;
}

.error-message {
    font-size: 14px;
}

.btn {
    border-radius: 8px;
    background-color: #199ED8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    display: block;
    width: 250px;
}
.btn:hover {
    background-color: #19b5d8
}
.btn-link {
    box-sizing: border-box;
}